@import "fonts.css";
@import "reset.css";

body{
    font: 20px/1.2 "Century Gothic";
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h4{
    font: 35px "Allura";
    color: #77a5a6;
    text-align: center;
}

.wrapper{
    margin: 0 auto;
    width: 1141px;
}

.row{
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.logo{
    margin: 12px 0 0 17px;
    display: inline-block;
}

.logo img{
    vertical-align: middle;
}

.logo p{
    display: inline-block;
    vertical-align: middle;
    color: #d1d3d3;
    font-size: 19px;
    line-height: 1.4;
    margin-left: 14px;
}

.contacts{
    margin: 52px 21px 0 10px;
}

.contacts p{
    color: #77a5a6;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    font-size: 17px;
}

.menu{
    overflow: hidden;
    margin-top: 29px;
}

.menu li{
   border-right: 1px solid #dedede;
    padding: 0 15px 8px 15px;
}

.menu li:last-child{
    border-right: none;
    padding-right: 0;
}

.menu a{
    color: #6b6c70;
    font-size: 18px;
}

.contacts-mobile{
    display: none;
    margin: 35px 23px 0 0;
    overflow: hidden;
}

.contacts-mobile .icon-phone{
    margin-right: 20px;
}

.contacts-mobile a{
    display: inline-block;
    vertical-align: middle;
}

header li {
    float: left;
}

.nav-menu{
    overflow: hidden;
    border-top: 1px solid #e5e5e5;
}

.nav-menu li{
    padding: 13px 13px 7px 15px;
    border-left: 1px solid #e5e5e5;
}

.nav-menu li:first-child{
    border-left: none;
}

.nav-menu a{
    color: #949494;
    text-transform: uppercase;
}

main{
    margin-top: 21px;
}

.block{
    margin-bottom: 10px;
    width: 50%;
}

.block img{
    height: auto;
    display: block;
    width: 100%;
}

.section-1{
    background: url("../img/content_1.jpg") no-repeat 0 100%;
    background-size: cover;
    max-width: 561px;
    height: 819px;
    display: flex;
    float: left;
}

.block-box{
    background: #fff;
    opacity: 0.9;
    border: 7px solid rgba(59, 59, 60, 0.35);
    margin: 20px;
    padding: 18px 20px 12px 20px;
    align-self: flex-end;
}

.block-box p{
    font: 21px "Times New Roman";
    color: #34353b;
    text-align: center;
    line-height: 1.4;
}

.block-box a{
    color: #fff;
    background: #77a5a6;
    padding: 8px 20px;
    display: block;
    width: 270px;
    font: 14px "Century Gothic";
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto 0;
    position: relative;
}

.block-box a:after{
    content: '';
    display: block;
    position: absolute;
    background: url("../img/arrow.jpg") no-repeat;
    width: 5px;
    height: 9px;
    top: 13px;
    right: 21px;
}

.section-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 570px;
    height: auto;
    position: relative;
    float: right;
    margin: 0;
    text-align: center;
    font-size: 27px;
}

.photo{
    max-width: 280px;
    width: 49%;
    height: auto;
    margin-bottom: 10px;
}

.photo p {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green{
    background: #689b9c;
    position: relative;
}

.black{
    background: #414143;
    position: relative;
}

.grey{
    background: #adafae;
    position: relative;
}

.blue{
    background: #529cbf;
    position: relative;
}

.section-2 img{
    opacity: 0.2;
    display: block;
}

.circle-block{
    background: #e3e3e3;
    border-radius: 50%;
    width: 228px;
    height: 228px;
    position: absolute;
    border: 10px solid #fff;
    top: 50%;
    left: 50%;
    margin: -114px 0 0 -114px;
    color: #717171;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-4{
    position: relative;
    float: left;
    max-width: 561px;
}

.section-3{
    position: relative;
    float: right;
    max-width: 570px;
}

.block a.link{
    font: 50px "Allura";
    color: #202020;
    display: block;
    position: absolute;
    top: 11px;
    right: 22px;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #e9e9e9;
    color: #202020;
    font-size: 14px;
    padding: 36px 52px 84px 55px;
    width: 100%;
}

.footer-box {
    width: 50%;
}

.footer-menu li{
    float: left;
    border-left: 1px solid #202020;
    padding: 0 10px;
}

.footer-menu li:first-child{
    border-left: none;
    padding-left: 0;
}

.footer-menu a{
    color: #202020;
}

.copyright{
    margin-top: 7px;
}

.copyright p{
    line-height: 1.5;
}

.last-p{
    margin-top: 7px;
}

.footer-contacts p{
    margin-top: 7px;
    text-align: right;
}

.social-menu{
    overflow: hidden;
}

.social-menu li{
    float: right;
    margin-left: 15px;
}

.social-menu a{
    display: block;
}

.footer-contacts a{
    color: #3191b9;
}

/*Treament_planner page*/

.contacts-treament-planner{
    margin: 95px 25px 20px 0;
}

.banner{
    font-size: 18px;
    text-align: center;
    margin-top: 24px;
    background: url("../img/banner_bg.jpg") no-repeat 100% 0;
    background-size: cover;
    width: 100%;
    height: 183px;
    padding: 12px 0;
    line-height: 1.6;
}

.banner-text{
    width: 547px;
    margin-left: 66px;
}

.banner-little-text{
    font-size: 15px;
    font-weight: bold;
    margin-top: 12px;
}

.banner-little-text a{
    color: #77a5a6;
}

form{
    position: relative;
    background: #e5e5e5;
    padding: 13px 0 13px 13px;
    overflow: hidden;
    margin-bottom: 60px;
}

.tab-menu{
    width: 30%;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    text-align: center;
}

.tab-menu-list{
    margin: 18px 23px 0;
    border-bottom: 1px solid #747474;
    padding-bottom: 10px;
}

.tab-menu li{
    font-size: 21px;
    font-weight: bold;
    color: #77a5a6;
    padding-left: 35px;
    display: inline-block;
}

.tab-menu li:first-child{
    padding-left: 0;
}

.tab-menu a{
    color: #747474;
    font-weight: normal;
    display: block;
    position: relative;
}

.tab-menu .active a:before, .tab-menu a:before{
    display: block;
    position: absolute;
    content: '';
    width: 19px;
    height: 19px;
    border-radius: 50%;
    top: 4px;
    left: -24px;
}

.tab-menu a:before{
    border: 1px solid #747474;
}

.tab-menu .active a:before{
    background: #77a5a6;
    border: 3px solid #fff;
}

.tab{
    display: none;
    justify-content: space-between;
}

.tab.active{
    display: flex;
}

.content-left-block{
    width: 70%;
    border: 7px solid #c9c9c9;
    background: #fff;
    position: relative;
}

.content-left-block p{
    font-size: 15px;
    font-style: italic;
    color: #c9c9c9;
    margin: 15px 10px 0;
}

.content-left-box{
    display: flex;
    justify-content: space-between;
}

.content-left-block .verge{
    position: absolute;
    z-index: 1;
}

.content-left-block .verge:hover{
    z-index: 2;
}

.content-left-block .verge:after{
    display: block;
    content: '';
    border-radius: 50%;
    width: 19px;
    height: 19px;
    border: 3px solid #fff;
    position: absolute;
    cursor: pointer;
}

.content-left-block .orange{
    color:#e66f4a;
    top: 348px;
    left: 297px;
}

.content-left-block .purple{
    color: #9977a6;
    top: 437px;
    left: 301px;
}

.content-left-block .turquoise{
    color:#77a5a6;
    top: 443px;
    left: 174px;
}

.content-left-block .lime{
    color: #77a684;
    top: 537px;
    left: 210px;
}

.content-left-block .yellow{
    color: #d7dc42;
    top: 324px;
    left: 157px
}

.content-left-block .dark-green{
    color: #155758;
    top: 470px;
    left: 150px
}

.content-face{
    border-right: 1px solid #c9c9c9;
    margin: 35px 0 28px 0;
    padding: 150px 36px 0;
    position: relative;
}

.content-body{
    padding: 0 57px 27px 0;
    position: relative;
}

.content-left-block .tooltip{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: bold;
    background: #fff;
    position: absolute;
    padding: 8px 12px;
    border-top: 3px solid;
    border-bottom: 3px solid;
    border-left: 3px solid;
    white-space: nowrap;
    top: -9999px;
    right: 21px;
    opacity: 0;
    transition: opacity 0.3s ease-out;
}

.content-left-block .verge:hover .tooltip{
    display: block;
    top: -10px;
    opacity: 1;
}

.content-left-block .tooltip:after, .content-left-block .tooltip:before{
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    pointer-events: none;
}

.content-left-block .tooltip:after{
    border-width: 16px 0 16px 23px;
    border-style: solid;
    border-color: transparent transparent transparent #fff;
    top:0;
    right: -22px;
}

.content-left-block .tooltip:before{
    border-width: 19px 0 19px 28px;
    border-style: solid;
    top: -3px;
    right: -28px;
}

.orange .tooltip:before{
    border-color: transparent transparent transparent #e66f4a;
}

.turquoise .tooltip:before{
    border-color: transparent transparent transparent #77a5a6;
}

.lime .tooltip:before{
    border-color: transparent transparent transparent #77a684;
}

.purple .tooltip:before{
    border-color: transparent transparent transparent #9977a6;
}

.yellow .tooltip:before{
    border-color: transparent transparent transparent #d7dc42;
}

.dark-green .tooltip:before{
    border-color: transparent transparent transparent #155758;
}

.content-right-block{
    margin-top: 58px;
    width: 30%;
}

.content-right-block h3{
    font-size: 27px;
    color: #77a5a6;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.content-right-block li{
    font-size: 18px;
    color: #747474;
    padding: 10px 0 10px 36px;
    position: relative;
    cursor: pointer;
}

.choice li:nth-child(odd){
    background: #efefef;
}

.content-right-block li:before{
    display: block;
    position: absolute;
    content: '';
    width: 19px;
    height: 19px;
    border-radius: 50%;
    top: 13px;
    left: 9px;
    border: 1px solid #747474;
}

.choice li.active:before{
    border: 3px solid #fff;
}

.choice li.active.purple:before, .content-left-block .purple:after{
    background: #9977a6;
}

.choice li.active.red:before{
    background: #ea3840;
}

.choice li.active.pink:before{
     background: #f819e6;
 }

.choice li.active.brown:before{
    background: #693a34;
}

.choice li.active.light-blue:before{
     background: #1aecee;
}

.choice li.active.light-yellow:before{
    background: #eff996;
}

.choice li.active.light-orange:before{
    background: #f0bb18;
}

.choice li.active.turquoise:before, .content-left-block .turquoise:after{
    background: #77a5a6;
}

.choice li.active.lime:before, .content-left-block .lime:after{
    background: #77a684;
}

.choice li.active.yellow:before, .content-left-block .yellow:after{
    background: #d7dc42;
}

.choice li.active.orange:before, .content-left-block .orange:after{
    background: #e66f4a;
}

.choice li.active.dark-green:before, .content-left-block .dark-green:after{
    background: #155758;
}

input[type="submit"]{
    background: #77a5a6 url("../img/arrow.jpg") no-repeat 150px;
    color: #fff;
    font-size: 14px;
    border: none;
    padding: 6px 50px;
    margin: 25px auto 20px;
    display: block;
    cursor: pointer;
}

#male .content-face{
    padding: 199px 36px 0 110px;
}


@media screen and (max-width: 768px){
    .wrapper{
        width: 100%;
    }
    .nav-menu, .contacts{
        display: none;
    }
    .contacts-mobile{
        display: block;
    }
    .block{
        margin: 0 auto 28px;
        float: none;
        width: auto;
        max-width: 640px;
        padding: 0 35px;
    }
    .section-1{
        margin: 0 0 28px 0;
        max-width: 100%;
        height: 800px;
        padding: 0;
    }
    .block a.link{
        right: 57px;
    }
    .block img.cover{
        width: 100%;
    }
    .block-box{
        margin: 23px 44px;
    }
    footer{
        flex-direction: column;
        align-items: center;
        padding-bottom: 15px;
    }
    .footer-menu a{
        font-size: 19px;
        color: #bababa;
    }
    .footer-menu li{
        border-left: 1px solid #bababa;
    }
    .footer-box {
        width: auto;
    }
    .social-menu{
        margin: 25px 0 15px 0;
    }
    .copyright{
        order: 1;
    }
    .footer-contacts{
        border-bottom: 1px solid #bababa;
        padding: 0 20px 20px;
        text-align: center;
    }
    .footer-contacts p{
        text-align: center;
    }
    .copyright{
        margin: 20px 70px 0 120px;
    }
    .banner{
        background: url(../img/banner_mobile_bg.jpg) no-repeat 100% 0;
        background-size: cover;
        width: 100%;
        line-height: 1;
        margin-top: 10px;
    }
    .banner-text{
        width: 424px;
        margin-left: 40px;
    }
    .banner-text .banner-little-text{
        margin-left: 0;
    }
    form{
        padding: 0;
    }
    .tab-menu{
        width: 40%;
    }
    .tab-menu-list{
        margin: 18px 50px;
    }
    .tab-menu li{
        font-size: 18px;
    }
    .tab-menu li:first-child{
        display: block;
        margin-bottom: 10px;
    }
    .tab-menu .active a:before, .tab-menu a:before{
        top: 2px;
    }
    .content-left-block{
        width: 60%;
    }
    .content-left-box{
        flex-direction: column;
        align-items: center;
    }
    .content-left-block p{
        text-align: center;
        margin: 10px auto;
        max-width: 270px;
        font-size: 14px;
    }
    .content-face{
        border-right: none;
        border-bottom: 1px solid #c9c9c9;
        margin: 10px 15px 20px 15px;
        padding: 0 0 20px 0;
    }
    .content-face img{
        max-width: 100%;
    }
    .content-body{
        padding: 0;
        margin-bottom: 10px;
    }
    .content-left-block .orange{
        top: 199px;
        left: 257px;
    }
    .content-left-block .purple{
        top: 275px;
        left: 256px;
    }
    .content-left-block .turquoise{
        top: 255px;
        left: 130px;
    }
    .content-left-block .lime{
        top: 366px;
        left: 186px;
    }
    .content-right-block{
        width: 40%;
        margin-top: 96px;
    }
    .content-right-block li:before{
        top: 23px;
    }
    .content-right-block li{
        font-size: 15px;
        padding: 22px 0 22px 36px;
    }
    input[type="submit"] {
        padding: 10px 90px;
        background: #77a5a6 url(../img/arrow.jpg) no-repeat 190px;
    }
}
@media screen and (max-width: 640px){
    .logo img{
        width: 18.125vw;
    }
    .block{
        padding: 0 5.46875vw;
    }
    .section-1{
        height: 650px;
        padding: 0;
    }
    .contacts-mobile img.icon-phone{
        width: 12.96875vw;
    }
    .contacts-mobile img.icon-menu{
        width: 9.375vw;
    }
}

@media screen and (max-width: 480px){
    .logo p{
        font-size: 15px;
        margin-left: 3px;
    }
    .block-box p{
        font-size: 14px;
    }
    main{
        margin-top: 15px;
    }
    h4{
        font-size: 27px;
    }
    .block-box a{
        font-size: 12px;
    }
    .block-box a:after{
        right: 36px;
        top: 11px;
    }
    .section-2{
        font-size: 23px;
    }
    .photo{
        width: 48%;
    }
    .circle-block{
        width: 180px;
        height: 180px;
        margin: -90px 0 0 -90px;
    }
    .block{
        margin: 0 0 10px;
    }
    .section-1{
        height: 500px;
        margin: 0 0 10px 0;
    }
    .block a.link{
        font-size: 40px;
    }
    .copyright{
        margin: 20px 25px 0;
    }
    .banner{
        font-size: 14px;
    }
    .banner-text{
        width: 260px;
        margin-left: 5px;
    }
    .banner-little-text{
        font-size: 11px;
    }
    form{
        margin-bottom: 10px;
    }
    .tab{
        flex-direction: column;
    }
    .tab-menu-list{
        margin: 10px 110px;
        padding-bottom: 5px;
    }
    .tab-menu li:first-child{
        display: inline-block;
    }
    .tab-menu li{
        font-size: 16px;
    }
    .tab-menu{
        width: 100%;
    }
    .tab-menu .active a:before, .tab-menu a:before{
        top: 0;
    }
    .content-left-block, .content-right-block{
        width: 100%;
    }
    .content-right-block h3{
        font-size: 23px;
        margin-bottom: 10px;
    }
    .content-right-block li{
        padding: 10px 0 10px 36px;
    }
    .content-right-block li:before{
        top:13px;
    }
    .content-right-block{
        order: -1;
        margin-top: 58px;
    }
    input[type="submit"]{
        margin: 10px auto;
        padding: 6px 50px;
        background: #77a5a6 url("../img/arrow.jpg") no-repeat 150px;
    }
}

@media screen and (max-width: 420px){
    .logo{
        margin: 10px 0 0 10px;
    }
    .contacts-mobile .icon-phone{
        margin-right: 7px;
    }
    .contacts-mobile{
        margin: 30px 10px 0;
    }
    main{
        margin-top: 7px;
    }
    .block{
        margin-bottom: 10px;
    }
    .block-box{
        padding: 10px;
        margin: 10px;
    }
    .block a.link{
        right: 36px;
    }
    .footer-menu a{
        font-size: 15px;
    }
    .social-menu{
        margin: 15px 0;
    }
    .copyright{
        width: 90%;
    }
    .banner{
        background: url(../img/banner_mobile_bg.jpg) no-repeat 77% 0;
        margin-top: 0;
    }
    .tab-menu-list{
        margin: 10px 75px;
    }
    .content-face{
        margin: 5px 5px 20px 5px;
    }
}

@media screen and (max-width: 360px){
    .logo{
        margin: 5px;
    }
    .logo p, .footer-menu a{
        font-size: 12px;
    }
    .contacts-mobile{
        margin: 20px 10px 0;
    }
    h4{
        font-size: 24px;
    }
    .block{
        margin: 0 10px 10px;
    }
    .section-1{
        height: 380px;
        margin: 0 0 10px 0;
    }
    .block-box p, footer{
        font-size: 13px;
    }
    .block-box a{
        font-size: 11px;
    }
    .block-box a:after{
        right: 12px;
        top: 8px;
    }
    .block-box a{
        width: 206px;
        padding: 5px;
        margin-top: 5px;
     }
    .section-2{
        flex-direction: column;
    }
    .circle-block{
        width: 228px;
        height: 228px;
        margin: -114px 0 0 -114px;
    }
    .photo{
        width: 100%;
        display: block;
        max-width: 100%;
    }
    .blue{
        margin-bottom: 0;
    }
    .block a.link{
        font-size: 35px;
    }
    footer{
        padding: 20px;
    }
    .social-menu{
        margin-bottom: 10px;
    }
    .copyright{
        display: none;
    }
    .banner {
        background:#e5e5e5;
        height: auto;
        width: 100%;
    }
    .banner-text{
        width: 100%;
        padding: 0 15px;
        margin: 0;
        line-height: 1.1;
    }
    .tab-menu-list{
        margin: 10px 50px;
    }
    .content-left-block{
        display: none;
    }
}

@media screen and (max-width: 320px){
    .block{
        margin-bottom: 5px;
    }
    .photo{
        margin-bottom: 5px;
    }
    .blue{
        margin-bottom: 0px;
    }
    .circle-block{
        border: 5px solid #fff;
        width: 180px;
        height: 180px;
        margin: -90px 0 0 -90px;
     }
    h4{
        font-size: 20px;
    }
    .banner h4{
        font-size: 24px;
    }
    .tab-menu-list{
        margin: 10px 30px;
    }
}
