@import "fonts.css";
@import "reset.css";

body{
    font: 20px/1.2 "Century Gothic";
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

h4{
    font: 35px "Allura";
    color: #77a5a6;
    text-align: center;
}

.wrapper{
    margin: 0 auto;
    width: 1141px;
}

.row{
    overflow: hidden;
    margin-bottom: 5px;
}

.logo{
    float: left;
    margin: 12px 0 0 17px;
    display: inline-block;
}

.logo img{
    vertical-align: middle;
}

.logo p{
    display: inline-block;
    vertical-align: middle;
    color: #d1d3d3;
    font-size: 19px;
    line-height: 1.4;
    margin-left: 14px;
}

.contacts{
    float: right;
    margin: 52px 21px 0 10px;
}

.contacts p{
    color: #77a5a6;
    text-transform: uppercase;
    text-align: right;
    font-weight: bold;
    font-size: 17px;
}

.menu{
    overflow: hidden;
    margin-top: 29px;
}

.menu li{
   border-right: 1px solid #dedede;
    padding: 0 15px 8px 15px;
}

.menu li:last-child{
    border-right: none;
    padding-right: 0;
}

.menu a{
    color: #6b6c70;
    font-size: 18px;
}

.contacts-mobile{
    display: none;
    float: right;
    margin: 35px 23px 0 0;
    overflow: hidden;
}

.contacts-mobile .phone{
    margin-right: 20px;
}

.contacts-mobile a{
    display: inline-block;
    vertical-align: middle;
}

header li {
    float: left;
}

.nav-menu{
    overflow: hidden;
    border-top: 1px solid #e5e5e5;
}

.nav-menu li{
    padding: 13px 13px 7px 15px;
    border-left: 1px solid #e5e5e5;
}

.nav-menu li:first-child{
    border-left: none;
}

.nav-menu a{
    color: #949494;
    text-transform: uppercase;
}

main{
    margin-top: 21px;
}

.block{
    margin-bottom: 10px;
    width: 50%;
}

.block img{
    max-width: 100%;
    height: auto;
    display: block;
    width: 100%;
}

.section-1{
    background: url("../img/content_1.jpg") no-repeat;
    background-size: cover;
    max-width: 561px;
    height: 819px;
    display: flex;
    float: left;
}

.block-box{
    background: #fff;
    opacity: 0.9;
    border: 7px solid rgba(59, 59, 60, 0.35);
    margin: 20px;
    padding: 18px 20px 12px 20px;
    align-self: flex-end;
}

.block-box p{
    font: 21px "Times New Roman";
    color: #34353b;
    text-align: center;
    line-height: 1.4;
}

.block-box a{
    color: #fff;
    background: #77a5a6;
    padding: 8px 20px;
    display: block;
    width: 270px;
    font: 14px "Century Gothic";
    text-transform: uppercase;
    text-align: center;
    margin: 10px auto 0;
    position: relative;
}

.block-box a:after{
    content: '';
    display: block;
    position: absolute;
    background: url("../img/arrow.jpg") no-repeat;
    width: 5px;
    height: 9px;
    top: 13px;
    right: 21px;
}

.section-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 570px;
    height: auto;
    position: relative;
    float: right;
    margin: 0;
    text-align: center;
    font-size: 27px;
}

.photo{
    max-width: 280px;
    width: 49%;
    height: auto;
    margin-bottom: 10px;
}

.photo p {
    color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green{
    background: #689b9c;
    position: relative;
}

.black{
    background: #414143;
    position: relative;
}

.grey{
    background: #adafae;
    position: relative;
}

.blue{
    background: #529cbf;
    position: relative;
}

.black, .blue{
    margin-left: 10px;
}

.section-2 img{
    opacity: 0.2;
    display: block;
}

.banner-circle{
    background: #e3e3e3;
    border-radius: 50%;
    width: 228px;
    height: 228px;
    position: absolute;
    border: 10px solid #fff;
    top: 50%;
    left: 50%;
    margin: -114px 0 0 -114px;
    color: #717171;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-3{
    position: relative;
    float: left;
    max-width: 561px;
}

.section-4{
    position: relative;
    float: right;
    max-width: 570px;
}

.section-3 a, .section-4 a{
    font: 50px "Allura";
    color: #202020;
    display: block;
    position: absolute;
    top: 11px;
    right: 22px;
}

footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background: #e9e9e9;
    color: #202020;
    font-size: 14px;
    padding: 36px 52px 84px 55px;
    width: 100%;
}

.footer-box {
    width: 50%;
}

.footer-menu li{
    float: left;
    border-left: 1px solid #202020;
    padding: 0 10px;
}

.footer-menu li:first-child{
    border-left: none;
    padding-left: 0;
}

.footer-menu a{
    color: #202020;
}

.copyright{
    margin-top: 7px;
}

.copyright p{
    line-height: 1.5;
}

.last-p{
    margin-top: 7px;
}

.footer-contacts p{
    margin-top: 7px;
    text-align: right;
}

.social-menu{
    overflow: hidden;
}

.social-menu li{
    float: right;
    margin-left: 15px;
}

.social-menu a{
    display: block;
}

.footer-contacts a{
    color: #3191b9;
}

/*Treament_planner page*/

.contacts-treament-planner{
    margin: 95px 25px 20px 0;
}

.banner{
    font-size: 17px;
    text-align: center;
    margin-top: 24px;
}

.banner-little-text{
    font-size: 13px;
    font-weight: bold;
}

.banner-little-text a{
    color: #77a5a6;
}


@media screen and (max-width: 768px){
    body{
        display: inline-block;
    }
    .wrapper{
        width: 100%;
    }
    .nav-menu, .contacts{
        display: none;
    }
    .contacts-mobile{
        display: block;
    }
    .block{
        margin:0 100px 28px;
        float: none;
        width: auto;
        max-width: 100%;
    }
    .section-1{
        margin: 0 0 28px 0;
        max-width: 100%;
    }
    .section-3 img, .section-4 img{
        width: 100%;
    }
    .block-box{
        margin: 23px 44px;
    }
    .grey, .blue{
        margin-bottom: 0;
    }
    footer{
        flex-direction: column;
        align-items: center;
        padding-bottom: 15px;
    }
    .footer-menu a{
        font-size: 19px;
        color: #bababa;
    }
    .footer-menu li{
        border-left: 1px solid #bababa;
    }
    .footer-box {
        width: auto;
    }
    .social-menu{
        margin: 25px 0 15px 0;
    }
    .copyright{
        order: 1;
    }
    .footer-contacts{
        border-bottom: 1px solid #bababa;
        padding: 0 20px 20px;
        text-align: center;
    }
    .footer-contacts p{
        text-align: center;
    }
    .copyright{
        margin: 20px 70px 0 120px;
    }
}

@media screen and (max-width: 480px){
    .logo p{
        font-size: 15px;
        margin-left: 3px;
    }
    .block-box p{
        font-size: 14px;
    }
    main{
        margin-top: 15px;
    }
    h4{
        font-size: 27px;
    }
    .block-box a{
        font-size: 12px;
    }
    .block-box a:after{
        right: 36px;
        top: 11px;
    }
    .section-2{
        font-size: 23px;
        justify-content: center;
    }
    .photo{
        width: 48%;
    }
    .banner-circle{
        width: 180px;
        height: 180px;
        margin: -90px 0 0 -90px;
    }
    .block{
        margin: 0 35px 10px;
    }
    .section-1{
        margin: 0 0 10px 0;
    }
    .section-3 a, .section-4 a{
        font-size: 40px;
    }
    .copyright{
        margin: 20px 25px 0;
    }
}

@media screen and (max-width: 420px){
    .logo img{
        width: 90px;
    }
    .logo{
        margin: 10px 0 0 10px;
    }
    .contacts-mobile a{
        width: 60px;
        margin-right: 7px;
    }
    .contacts-mobile img{
        max-width: 100%;
    }
    .contacts-mobile{
        margin: 30px 5px 0;
    }
    .contacts-mobile .phone{
        margin: 0;
        width: 70px;
    }
    main{
        margin-top: 7px;
    }
    .block{
        margin-bottom: 10px;
    }
    .block-box{
        padding: 10px;
        margin: 10px;
    }
    .footer-menu a{
        font-size: 15px;
    }
    .social-menu{
        margin: 15px 0;
    }
    .copyright{
        width: 90%;
    }
}

@media screen and (max-width: 360px){
    .logo{
        margin: 5px;
    }
    .logo img{
        width: 70px;
    }
    .logo p, .footer-menu a{
        font-size: 12px;
    }
    .contacts-mobile{
        margin: 20px 0 0;
    }
    .contacts-mobile a{
        width: 50px;
    }
    .contacts-mobile .phone{
        width: 60px;
    }
    h4{
        font-size: 19px;
    }
    .block{
        margin: 0 10px 10px;
    }
    .section-1{
        margin: 0 0 10px 0;
    }
    .block-box p, .block-box a, footer{
        font-size: 11px;
    }
    .block-box a:after{
        right: 12px;
        top: 8px;
    }
    .block-box a{
        width: 206px;
        padding: 5px;
        margin-top: 5px;
     }
    .section-2{
        flex-direction: column;
    }
    .banner-circle{
        width: 228px;
        height: 228px;
        margin: -114px 0 0 -114px;
    }
    .photo{
        width: 100%;
        display: block;
        max-width: 100%;
    }
    .black, .blue{
        margin-left: 0;
    }
    .blue{
        margin-bottom: 0;
    }
    .grey{
        margin-bottom: 10px;
    }
    .section-3 a, .section-4 a{
        font-size: 35px;
    }
    footer{
        padding: 20px;
    }
    .social-menu{
        margin-bottom: 10px;
    }
    .copyright{
        display: none;
    }
}

@media screen and (max-width: 320px){
    .block{
        margin-bottom: 3px;
    }
    .photo{
        margin-bottom: 5px;
    }
    .banner-circle{
        border: 5px solid #fff;
    }
}
